* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1,
h2 {
  font-family: "Sen", sans-serif;
}

.text-line2 {
  display: -webkit-box;
  --webkit-box-orient: vertical;
  --webkit-line-clamp: 2;
  overflow: hidden;
}

.text-line2.text-line3 {
  --webkit-line-clamp: 3;
}
