.header .body {
  display: flex;
  align-items: center;
}

.header nav {
  margin-left: auto;
}

.header .nav-list {
  display: flex;
  align-items: center;
}

.header .nav-list > a {
  margin-left: 42px;
}
