/* ========================> Header <======================= */
.header {
  padding-top: 28px;
  background: #fffcf4;
}

.fixed {
  position: sticky;
  left: 0;
  top: -28px;
  z-index: 1;
}

.header .logo:hover {
  cursor: pointer;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.header nav {
  margin-left: auto;
}

.header .nav-list {
  display: flex;
  align-items: center;
}

.header .nav-item > a {
  display: inline-block;
  padding: 8px 21px;
  line-height: 1.75;
  color: #5f5b53;
  cursor: pointer !important;
}

.header .nav-item > a::after {
  content: "";
  display: block;
  width: 0;
  height: 1.2px;
  background: var(--primary-color);
  transition: ease 0.4s;
}

.nav-item.active a {
  cursor: default !important;
}

.nav-item.active a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.2px;
  background: var(--primary-color);
  transition: ease 0.4s;
}

.header .nav-item > a:hover::after {
  width: 100%;
}

.header .acction {
  margin-left: 49px;
}

.acction-btn {
  min-width: 144px;
  font-size: 1.6rem;
}

.acction-btn:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
  transition: ease-in 0.2s;
}

/* ======================> Hero <==================== */

.hero {
  padding-top: 56px;
  padding-bottom: 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media {
  width: 48%;
  position: relative;
}

.hero .img-media {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .img-media-content {
  position: absolute;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  background-color: #fff;
  padding: 24px;
  bottom: 48px;
  right: -100px;
  min-width: 270px;
}

.hero .media-list {
  display: flex;
  align-items: center;
}

.hero .media-list img:hover {
  cursor: pointer;
}

.hero .media-list .media-item {
  margin-left: 16px;
}

.hero .media-item .course a {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero .media-item .sub-title a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .info {
  width: 52%;
  margin-left: 230px;
}

.hero .info .title {
  margin-top: 72px;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
  width: 470px;
}

.hero .info p:first-of-type {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .accition {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-btn {
  min-width: 180px;
  height: 64px;
  line-height: 64px;
  border-radius: 32px;
  font-size: 1.8rem;
}

.hero-btn:hover {
  background-color: var(--primary-color);
  transition: ease 0.2s;
}

.hero .accition button {
  margin-left: 28px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: ease 0.2s;
}

.hero .accition button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hero .accition button:hover span {
  color: var(--primary-color);
}

.hero .accition button:hover .play-wrap {
  transform: scale(1.3);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.104);
}

.hero .play-wrap {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  transition: ease 0.2s;
}

.hero .accition span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
  transition: ease 0.2s;
}
.hero .info p:nth-of-type(2) {
  margin-top: 48px;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .info .qty {
  display: inline-block;
  margin-top: 8px;
}

.hero .info p:last-of-type {
  margin-left: 28px;
}

.hero .info strong {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}

/* =================> COURSES <=====================  */

.courses {
  padding: 100px 0;
}

.courses-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-info {
  width: 458px;
}

.courses-title {
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}

.courses-desc {
  margin-top: 16px;
  font-size: 1.8rem;
  line-height: 1.67;
}

.arrow-group {
  display: flex;
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.arrow-right {
  margin-left: 18px;
}

.courses-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
  flex-shrink: 0;
  overflow: hidden;
}

.courses-item {
  width: 370px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background-color: #fff;
  transition: ease 0.2s;
}

.courses-item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.courses-list-img img {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  display: block;
  border-radius: 12px 12px 0px 0px;
}

.courses-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-item-info .sub-title a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.courses-item-info div {
  display: flex;
  align-items: center;
}

.courses-item-info div span {
  margin-left: 6px;
  line-height: 1.75;
  color: #fea31b;
}

.courses-item-wrap {
  padding: 16px 22px 22px 22px;
  border-radius: 0 0 12px 12px;
}

.courses-item-wrap .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
}

.courses-item-wrap .acction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.courses-item-wrap .acction p {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.courses-item-wrap .acction .btn:hover {
  background-color: var(--primary-color);
  transition: ease 0.2s;
}

/* =====================================> Feedback <================================================ */

.feedback {
  background: #2e2100;
  padding: 100px;
}

.content.overflower {
  overflow: hidden;
  position: relative;
}

.feedback-body {
  display: flex;
  transition: all 0.25s ease-in;
}

.feedback .body {
  width: 100%;
  flex-shrink: 0;
  padding: 96px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback .body .avata {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .user .name {
  margin-top: 18px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}

.feedback .user .desc {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb3;
}

.tick-group {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.feedback .tick {
  height: 12px;
  width: 12px;
  background: #634700;
  border-radius: 50%;
  margin-right: 6px;
  cursor: pointer;
}

.tick.active {
  background-color: var(--primary-color);
  cursor: default;
}

.feedback .quote {
  width: 770px;
}

.feedback .quote img {
  margin-left: -30px;
}

.feedback .quote blockquote {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

.features {
  padding: 100px;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .body .fea-img-group {
  display: flex;
  width: 49%;
}

.features .fea-img-group img {
  width: 270px;
  height: 405px;
  object-fit: contain;
  border-radius: 16px;
}

.features .fea-img-group img:first-of-type {
  margin: 34px 30px 0 0;
}

.features .info {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.features .info .title {
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}

.features .info .desc {
  line-height: 1.75;
  margin: 16px 0;
}

.fea-btn {
  margin-top: 32px;
  min-width: 137px;
  background-color: var(--primary-color);
}

.features2 {
  padding: 100px;
}

.features2 .info {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.features2 .body {
  display: flex;
  justify-content: space-between;
}

.features2 .title {
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}

.features2 .desc {
  line-height: 1.75;
  margin: 16px 0 32px 0;
}

.features2 img {
  border-radius: 20px;
  display: inline-block;
  width: 470px;
  height: 440px;
  object-fit: cover;
}

.blog {
  margin-top: 200px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .title {
  font-size: 3.8rem;
  line-height: 1.26;
  text-align: center;
  letter-spacing: -0.02em;
  color: #130606;
}

.blog .desc {
  margin: 16px auto 0 auto;
  line-height: 1.75;
  text-align: center;
  width: 448px;
}

.blog-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.blog-list .item {
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  width: 370px;
}

.blog-list .item img {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
  display: block;
}

.blog-list .item .info {
  padding: 20px 20px 28px 20px;
  border-radius: 0 0 12px 12px;
}

.time-group {
  display: flex;
  align-items: center;
}

.time-group .time {
  font-size: 1.4rem;
  line-height: 1.86;
  margin-left: 4px;
}

.maru {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.question a {
  margin-top: 25px;
  font-weight: 600;
  line-height: 1.75;
  color: #171100;
}

.blog-list .btn {
  margin-top: 12px;
}

.blog-list .btn:hover {
  background-color: var(--primary-color);
  transition: ease 0.2s;
}

.blog-accition-group {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.blog-accition {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
}

.blog-accition.active {
  background: #ffb900;
  cursor: default;
}

.blog-accition:hover {
  cursor: pointer;
}

/* ===============> fotter <===================== */

.footer {
  padding: 96px 0 28px 0;
  background: #2e2100;
}

.footer .row {
  display: flex;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .column .desc {
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 1.86;
  width: 267px;
  color: #bfbcb2;
}

.socials {
  display: flex;
  align-items: center;
  gap: 0 18px;
  margin-top: 18px;
}

.footer .column .title {
  position: relative;
  font-family: "Poppins";
  font-weight: 600;
  color: #ffffff;
}

.footer .column .title::after {
  position: absolute;
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background: #59554b;
  bottom: -14px;
  left: 0;
}

.footer .row .column ul:not(.socials) {
  margin-top: 31px;
}

.footer .row .column:not(.socials) a {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
  display: inline-block;
  margin-top: 12px;
}

.footer .row .column strong {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #ffffff;
  width: 231px;
}

.footer .break {
  width: 1170px;
  height: 1px;
  left: 135px;
  background: #59554b;
  margin-top: 38px;
}

.footer .copyright {
  margin-top: 28px;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #807d74;
}
