.header {
  padding-top: 28px;
  background: #fffcf4;
}

.fixed {
  position: sticky;
  left: 0;
  top: -28px;
}

.header .logo:hover {
  cursor: pointer;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.header nav {
  margin-left: auto;
}

.header .nav-list {
  display: flex;
  align-items: center;
}

.header .nav-item > a {
  display: inline-block;
  padding: 8px 21px;
  line-height: 1.75;
  color: #5f5b53;
}

.header .acction {
  margin-left: 49px;
}

.acction-btn {
  min-width: 144px;
}

.acction-btn:hover {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  transition: ease-in 0.3s;
}
